<div class="pagePaddingBottom">

    <h2 class="mainCenterAlign">  Common  </h2>

    <div class="styleShet" ng-click="toggle()">
        <h4 >
            Sum of  1 to N number <span ng-hide ="common" class= "caretright" ></span><span ng-show="common" class= "caretrightUp" ></span>
        </h4>
    </div>
    <pre ng-show="common" class="view">

public class sum
 {
     public static void main(String[] args)
     {
         java.util.Scanner scn = new java.util.Scanner (System.in);
         System.out.println("Entre the valur of N ");
         int n= scn.nextInt();
         int sum=0;
         for(int i=1;i<=n;i++)
         {
             sum =sum+i;
         }
         System.out.println("The sum of 1st "+n+"= " +sum);
     }
 }
    </pre>


    <div class="styleShet" ng-click="toggle1()">
        <h4 >
            { heading }
            <span ng-hide ="common1" class= "caretright" ></span><span ng-show="common1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <Pre ng-show="common1" class="view">
			{ defination }
    </Pre>


    <div class="styleShet" ng-click="toggle2()">
            <h4 >
                    {heading Name}
                    <span ng-hide ="common2" class= "caretright" ></span><span ng-show="common2" class= "caretrightUp" ></span>
            </h4>
    </div>
    <pre ng-show="common2" class="view">
       {keep defination }
    </pre>


    <div class="styleShet" ng-click="toggle3()">
            <h4 >{heading Name}
            <span ng-hide ="common3" class= "caretright" ></span><span ng-show="common3" class= "caretrightUp" ></span></h4>
    </div>
    <pre ng-show="common3" class="view">
       {keep defination }
    </pre>


    <div class="styleShet" ng-click="toggle4()">
            <h4 >{heading Name}
            <span ng-hide ="common4" class= "caretright" ></span><span ng-show="common4" class= "caretrightUp" ></span></h4>
    </div>
    <pre ng-show="common4" class="view">
       {keep defination }
    </pre>



    <div class="styleShet" ng-click="toggle5()">
            <h4 >{heading Name}
            <span ng-hide ="common5" class= "caretright" ></span><span ng-show="common5" class= "caretrightUp" ></span></h4>
    </div>
    <pre ng-show="common5" class="view">
       {keep defination }
    </pre>


    <div class="styleShet" ng-click="toggle6()">
            <h4>{heading Name}
            <span ng-hide ="common6" class= "caretright" ></span><span ng-show="common6" class= "caretrightUp" ></span></h4>
    </div>
    <pre ng-show="common6" class="view">
       {keep defination }
    </pre>



    <div class="styleShet" ng-click="toggle7()">
            <h4 >{heading Name}
            <span ng-hide ="common7" class= "caretright" ></span><span ng-show="common7" class= "caretrightUp" ></span></h4>
    </div>
    <pre ng-show="common7" class="view">
       {keep defination }
    </pre>


















    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>






    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle1()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper1" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>


    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle2()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper2" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle3()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper3" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle4()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper4" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle5()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper5" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle6()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper6" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle7()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper7" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle8()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper8" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle9()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper9" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>



    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle10()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper10" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>




        <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle11()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper11" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>


    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle12()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper12" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle13()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper13" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle14()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper14" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle15()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper15" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle16()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper16" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle17()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper17" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle18()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper18" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle19()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper19" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>



    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle20()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper20" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>







    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle21()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper21" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>


    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle22()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper22" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle23()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper23" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle24()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper24" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle25()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper25" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle26()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper26" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>




    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle27()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper27" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle28()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper28" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )

	</div>
    </div>





    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle29()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper29" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>



    <div class="qOverView" >


	<ol type="A">
	    <li>&nbsp;&nbsp; Compile-time Error </li>
	    <li>&nbsp;&nbsp; Run-time Error</li>
	    <li>&nbsp;&nbsp; </li>
	    <li>&nbsp;&nbsp; </li>
	</ol>
	<button type="button" class="btn btn-success"  ng-click="toggle30()">Show Answer &nbsp; »</button>

	<div ng-show="questionPaper30" class="viewQuestion">
	    Answer : &nbsp; <b>  </b> &nbsp;(  )
	</div>
    </div>



















</div>
