    
<div class="push-to-center" >
    <div ng-form="myForm">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4
                 col-md-6 col-md-offset-3 
                 col-sm-10 col-sm-offset-1
                 col-xs-12">
                <p style="font-size:15px;padding-top:10px;padding-bottom:10px"> Your one step away from recovering your password</p>
                <div class="form-group" >   

                    <input type="email" placeholder=" User Name" id="userMail"  class="form-control input-lg" ng-model="emailId" name="emailId" required="required"/>
                    <label  ng-show="myForm.emailId.$touched && myForm.emailId.$invalid" style="color:red;margin-top:17px">Name is required.</label>						
                </div>
                <div class="form-group"> 
                    <input type="password" class="form-control input-lg" id="userMail" placeholder=" Email" required="required" ng-model="password" name="password"/>
                    <label  ng-show="myForm.password.$touched && myForm.password.$invalid" style="color:red;margin-top:17px">Password is required.</label>
                </div>

                <div class="form-group">                     
                    <button type="submit"  class="btn btn-lg btn-primary btn-block" ng-click="isValidUser()">Recover</button>
                </div>

                <div class="form-group " style="font-size:13px;">

                    <span  ><a href="#/login"><u style="padding-left:300px;color:white">Login</u></a></span>
                </div>
            </div>
            <div class="row" style="text-align:center">
                <p>{{loginError}}</p>
            </div>
        </div>
    </div>
</div>






