
<!--<div>-->
<style>
img{
  margin:auto;
  width: 100%;
}
</style>
<!---->

<div style="margin-top: 16px">
    <div style="margin-bottom: 10px">
	<div id="sliderFrame" class="pagePaddingBottom" >
	    <div id="slider" style="width : 100%">
		<img src={{firstImage}}  />
		<img src={{secondImage}} />
		<img src={{thirdImage}}  />
		<img src={{fourthImage}}  />
	    </div>
	</div>
    </div>
</div>

<!--$scope.firstImage = "img/technology2.jpg";
            $scope.secondImage = "img/technology2.jpg";
            $scope.thirdImage = "img/technology4.jpg";
            $scope.fourthImage = -->

<!--<div ng-hide = "isMobile">
    <div  style="margin-bottom: 10px">
        <div id="sliderFrame" class="pagePaddingBottom" >
            <div  id="slider" style="width : 100%">
                <img src="img/technology1.jpg" />
                <img src="img/technology2.jpg" />
                <img src="img/technology4.jpg" />
                <img src="img/technology5.jpg" />
            </div>
	    <div  id="slider" style="width : 100%">
		<img src="img/technology1Small.jpg"  />
		<img src="img/technology2Small.jpg" />
		<img src="img/technology4Small.jpg"  />
		<img src="img/technology5Small.jpg"  />
	    </div>
        </div>
    </div>
</div>-->

<div>
    <h3 style="margin-bottom: 70px">
        <span style="font-style: normal;" class="homeFront">  Hi,</span>
        <div class="homeFront">  <span> The main purpose of the creating this website to help
            the technical person To learn like Java.  It will be help full to programmer
            who want to learn something .
            If any query You can contacts with me .
	    <br/>
	    Ph No. +919635499033
	    <br/>
	    <u>anupghosh9363@gmail.com</u>

	    </span>
        </div>
     </h3>
    <img src="img/anup.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236"> 
 </div>