<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign"> Java sample </h2>



<br/><br/><br/>
  <h2 style="text-align: center;" > Coming soon .....</h2>
 <br/><br/><br/>


    <div class="styleShet" ng-click="toggle()">
        <h4>
            { heading }
            <span ng-hide ="sample" class= "caretright" ></span><span ng-show="sample" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample" class="view">
                            { defination }
    </div>


    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="sample1" class= "caretright" ></span><span ng-show="sample1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample1" class="view">
                    { defination }
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="sample2" class= "caretright" ></span><span ng-show="sample2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample2" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="sample3" class= "caretright" ></span><span ng-show="sample3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample3" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="sample4" class= "caretright" ></span><span ng-show="sample4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample4" class="view">
	   {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="sample5" class= "caretright" ></span><span ng-show="sample5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample5" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="sample6" class= "caretright" ></span><span ng-show="sample6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample6" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="sample7" class= "caretright" ></span><span ng-show="sample7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample7" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="sample8" class= "caretright" ></span><span ng-show="sample8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample8" class="view">
           {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="sample9" class= "caretright" ></span><span ng-show="sample9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample9" class="view">
           {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="sample10" class= "caretright" ></span><span ng-show="sample10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample10" class="view">
           {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="sample11" class= "caretright" ></span><span ng-show="sample11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="sample11" class="view">
           {keep defination }
    </div>
</div>
