    <div class="isMobileHiden" style="float:right;position:fixed;top:225px;right:17px;">

	<div style="position: relative" ng-hide="socialMedia">
	      <div style="float:right;margin-top: -10px;" ><a target="_blank" href="#" class="fa fa-facebook"> </a>
	      <!-- "http://www.facebook.com/sharer.php?u=http://Programmingapi.com/#/" -->
	      </div>
	      </br>
	      <div style="float:right;margin-top: -10px;" ><a target="_blank" href="#" class="fa fa-google"></a>
	      <!-- "https://plus.google.com/share?url=http://Programmingapi.com/#/" -->
	      </div>
	      </br>
	      <div style="float:right;margin-top: -10px;" ><a target="_blank" href="#" class="fa fa-twitter"> </a>
	      <!-- "https://plus.google.com/share?url=http://Programmingapi.com/#/" -->
	      </div>
	      </br>
	      <div style="float:right;margin-top: -10px;"><a target="_blank" href="#" class="fa fa-whatsapp"></a>
	      <!-- "whatsapp://send?text=http://Programmingapi.com/#/" -->
	      </div>
	      </br>
	      <div style="float:right;margin-top: -10px;"><a target="_blank" href="#" class="fa fa-linkedin"></a>
	      <!-- "http://www.linkedin.com/shareArticle?mini=true&amp;url=http://Programmingapi.com/#/" -->
	      </div>
	</div>

	  <div ng-hide="socialMedia" style="float:right; margin-top: 85px; margin-right: -35px; margin-left: 2px; font-size: 120%; position: inherit">
	      <span ng-click="socialMediaToggle()"> &raquo;</span>
	  </div>
	  <div ng-show="socialMedia" style="float:right; margin-top: 160px; margin-right: 4px; font-size: 120%;">
	      <div ng-click="socialMediaToggle()">  &laquo; </div>
	  </div>

    </div>


    <span class="isBigHiden" style="margin-left: 10%; bottom: 0px; text-align: center ; position: absolute;clear: both ">

	    <a target="_blank" href="#" class="fa fa-facebook"> </a>

	<!-- "http://www.facebook.com/sharer.php?u=http://Programmingapi.com/#/" -->

	    <a target="_blank" href="#" class="fa fa-google"></a>
	<!-- "https://plus.google.com/share?url=http://Programmingapi.com/#/" -->

	    <a target="_blank" href="#" class="fa fa-twitter"> </a>
	    <!-- "http://twitter.com/share?url=http://Programmingapi.com/#/"-->

	    <a target="_blank" href="#" class="fa fa-whatsapp"></a>
	<!-- "whatsapp://send?text=http://Programmingapi.com/#/" -->
	    <a target="_blank" href="#" class="fa fa-linkedin"></a>
	<!-- "http://www.linkedin.com/shareArticle?mini=true&amp;url=http://Programmingapi.com/#/" -->

    </span>