
<div  class="pagePaddingBottom">

        <h2 class="mainCenterAlign"> Java Suggetion Paper </h2>

 <br/><br/><br/>
  <h2 style="text-align: center;" > Coming soon .....</h2>
 <br/><br/><br/>

<!--
        <div class="styleShet" ng-click="toggle()">
            <h4 >
                { heading }
                <span ng-hide ="suggetionPaper" class= "caretright" ></span><span ng-show="suggetionPaper" class= "caretrightUp" ></span>
            </h4>
        </div>
        <pre ng-show="suggetionPaper" class="view">
			{ defination }
        </pre>


        <div class="styleShet" ng-click="toggle1()">
            <h4 >
                { heading }
                <span ng-hide ="suggetionPaper1" class= "caretright" ></span><span ng-show="suggetionPaper1" class= "caretrightUp" ></span>
            </h4>
        </div>
        <Pre ng-show="suggetionPaper1" class="view">
			{ defination }
		</Pre>


	<div class="styleShet" ng-click="toggle2()">
		<h4 >
			{heading Name}
			<span ng-hide ="suggetionPaper2" class= "caretright" ></span><span ng-show="suggetionPaper2" class= "caretrightUp" ></span>
		</h4>
	</div>
	<pre ng-show="suggetionPaper2" class="view">
	   {keep defination }
	</pre>


	<div class="styleShet" ng-click="toggle3()">
		<h4 >{heading Name}
		<span ng-hide ="suggetionPaper3" class= "caretright" ></span><span ng-show="suggetionPaper3" class= "caretrightUp" ></span></h4>
	</div>
	<pre ng-show="suggetionPaper3" class="view">
	   {keep defination }
	</pre>


	<div class="styleShet" ng-click="toggle4()">
		<h4 >{heading Name}
		<span ng-hide ="suggetionPaper4" class= "caretright" ></span><span ng-show="suggetionPaper4" class= "caretrightUp" ></span></h4>
	</div>
	<pre ng-show="suggetionPaper4" class="view">
	   {keep defination }
	</pre>



	<div class="styleShet" ng-click="toggle5()">
		<h4 >{heading Name}
		<span ng-hide ="suggetionPaper5" class= "caretright" ></span><span ng-show="suggetionPaper5" class= "caretrightUp" ></span></h4>
	</div>
	<pre ng-show="suggetionPaper5" class="view">
	   {keep defination }
	</pre>


	<div class="styleShet" ng-click="toggle6()">
		<h4>{heading Name}
		<span ng-hide ="suggetionPaper6" class= "caretright" ></span><span ng-show="suggetionPaper6" class= "caretrightUp" ></span></h4>
	</div>
	<pre ng-show="suggetionPaper6" class="view">
	   {keep defination }
	</pre>



	<div class="styleShet" ng-click="toggle7()">
		<h4 >{heading Name}
		<span ng-hide ="suggetionPaper7" class= "caretright" ></span><span ng-show="suggetionPaper7" class= "caretrightUp" ></span></h4>
	</div>
	<pre ng-show="suggetionPaper7" class="view">
	   {keep defination }
	</pre>-->


</div>
