<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign"> Windows Shortcut </h2>

    <div style="overflow-x:auto;">
        <table class="table table-bordered">
            <tr class="trHeading">
                <th>Shortcut</th>
                <th>Command</th>
                <th>Shortcut</th>
                <th>Command</th>
            </tr>
            <tr>
                <td>F2</td>
                <td>Next Bookmark</td>
                <td>Ctrl+Space</td>
                <td>Autocomplete</td>
            </tr>
            <tr>
                <td>F3</td>
                <td>Find Next</td>
                <td>Ctrl+Shift+C</td>
                <td>Clipboard Swap</td>
            </tr>
            <tr>
                <td>F3</td>
                <td>Find Next</td>
                <td>Ctrl+F4</td>
                <td>Close Window</td>
            </tr>
            <tr>
                <td>F8</td>
                <td>Toggle Output Window</td>
                <td>Ctrl+W</td>
                <td>Close Window</td>
            </tr>
            <tr>
                <td>Alt+F6</td>
                <td>Toggle Project Window</td>
                <td>Ctrl+Insert</td>
                <td>Copy</td>
            </tr>
            <tr>
                <td>Alt+F7</td>
                <td>Toggle Text Clips Window</td>
                <td>Ctrl+C</td>
                <td>Copy</td>
            </tr>
            <tr>
                <td>Alt+F8</td>
                <td>Toggle Find Results Window</td>
                <td>Ctrl+Alt+C</td>
                <td>Copy as RTF</td>
            </tr>
            <tr>
                <td>Alt+F9</td>
                <td>Toggle CTags Window</td>
                <td>Ctrl+Shift+T</td>
                <td>Copy Line</td>
            </tr>
            <tr>
                <td>Alt+F10</td>
                <td>Toggle Scripts Window</td>
                <td>Shift+Delete</td>
                <td>Cut</td>
            </tr>
            <tr>
                <td>Alt+Enter</td>
                <td>Show Document Properties</td>
                <td>Ctrl+X</td>
                <td>Cut</td>
            </tr>
            <tr>
                <td>Alt+G</td>
                <td>Jump To (tags)</td>
                <td>Ctrl+L</td>
                <td>Cut Line</td>
            </tr>
            <tr>
                <td>Ctrl+F2</td>
                <td>Set Bookmark</td>
                <td>Ctrl+Shift+L</td>
                <td>Delete Line</td>
            </tr>
            <tr>
                <td>Ctrl+F4</td>
                <td>Close Window</td>
                <td>Ctrl+D</td>
                <td>Duplicate Line</td>
            </tr>
            <tr>
                <td>Ctrl+F6</td>
                <td>Next Window</td>
                <td>Ctrl+F</td>
                <td>Find Dialog</td>
            </tr>
            <tr>
                <td>Ctrl+Space</td>
                <td>Autocomplete</td>
                <td>Ctrl+Shift+F</td>
                <td>Find in Files Dialog</td>
            </tr>
            <tr>
                <td>Ctrl+Tab</td>
                <td>Next Window</td>
                <td>F3</td>
                <td>Find Next</td>
            </tr>
            <tr>
                <td>Ctrl+Insert</td>
                <td>Copy</td>
                <td>F3</td>
                <td>Find Next</td>
            </tr>
            <tr>
                <td>Ctrl+Num *</td>
                <td>Quick Find</td>
                <td>Shift+F3</td>
                <td>Find Previous</td>
            </tr>
            <tr>
                <td>Ctrl+/</td>
                <td>Quick Find</td>
                <td>Ctrl+G</td>
                <td>Goto</td>
            </tr>
            <tr>
                <td>Ctrl+A</td>
                <td>Select All</td>
                <td>Shift+Insert</td>
                <td>Insert</td>
            </tr>
            <tr>
                <td>Ctrl+C</td>
                <td>Copy</td>
                <td>Alt+G</td>
                <td>Jump To (tags)</td>
            </tr>
            <tr>
                <td>Ctrl+D</td>
                <td>Duplicate Line</td>
                <td>Ctrl+U</td>
                <td>Lowercase</td>
            </tr>
            <tr>
                <td>Ctrl+F</td>
                <td>Find Dialog</td>
                <td>Ctrl+N</td>
                <td>New File</td>
            </tr>
            <tr>
                <td>Ctrl+G</td>
                <td>Goto</td>
                <td>F2</td>
                <td>Next Bookmark</td>
            </tr>
            <tr>
                <td>Ctrl+H</td>
                <td>Replace Dialog</td>
                <td>Ctrl+F6</td>
                <td>Next Window</td>
            </tr>
            <tr>
                <td>Ctrl+L</td>
                <td>Cut Line</td>
                <td>Ctrl+Tab</td>
                <td>Next Window</td>
            </tr>
            <tr>
                <td>Ctrl+N</td>
                <td>New File</td>
                <td>Ctrl+O</td>
                <td>Open File</td>
            </tr>
            <tr>
                <td>Ctrl+O</td>
                <td>Open File</td>
                <td>Ctrl+V</td>
                <td>Paste</td>
            </tr>
            <tr>
                <td>Ctrl+P</td>
                <td>Print</td>
                <td>Ctrl+Shift+F6</td>
                <td>Previous Window</td>
            </tr>
            <tr>
                <td>Ctrl+R</td>
                <td>Replace Dialog</td>
                <td>Ctrl+Shift+Tab</td>
                <td>Previous Window</td>
            </tr>
            <tr>
                <td>Ctrl+S</td>
                <td>Save</td>
                <td>Ctrl+P</td>
                <td>Print</td>
            </tr>
            <tr>
                <td>Ctrl+T</td>
                <td>Transpose Lines</td>
                <td>Ctrl+Num *</td>
                <td>Quick Find</td>
            </tr>
            <tr>
                <td>Ctrl+U</td>
                <td>Lowercase</td>
                <td>Ctrl+/</td>
                <td>Quick Find</td>
            </tr>
            <tr>
                <td>Ctrl+V</td>
                <td>Paste</td>
                <td>Ctrl+Y</td>
                <td>Redo</td>
            </tr>
            <tr>
                <td>Ctrl+W</td>
                <td>Close Window</td>
                <td>Ctrl+H</td>
                <td>Replace Dialog</td>
            </tr>
            <tr>
                <td>Ctrl+X</td>
                <td>Cut</td>
                <td>Ctrl+R</td>
                <td>Replace Dialog</td>
            </tr>
            <tr>
                <td>Ctrl+Y</td>
                <td>Redo</td>
                <td>Ctrl+S</td>
                <td>Save</td>
            </tr>
            <tr>
                <td>Ctrl+Z</td>
                <td>Undo</td>
                <td>Ctrl+Shift+S</td>
                <td>Save All</td>
            </tr>
            <tr>
                <td>Shift+F3</td>
                <td>Find Previous</td>
                <td>Ctrl+A</td>
                <td>Select All</td>
            </tr>
            <tr>
                <td>Shift+F8</td>
                <td>Toggle Individual Output Window</td>
                <td>Ctrl+F2</td>
                <td>Set Bookmark</td>
            </tr>
            <tr>
                <td>Shift+Delete</td>
                <td>Cut</td>
                <td>Alt+Enter</td>
                <td>Show Document Properties</td>
            </tr>
            <tr>
                <td>Shift+Insert</td>
                <td>Insert</td>
                <td>Ctrl+Shift+H</td>
                <td>Switch to (or Open) Alternate file</td>
            </tr>
            <tr>
                <td>Ctrl+Alt+C</td>
                <td>Copy as RTF</td>
                <td>Alt+F9</td>
                <td>Toggle CTags Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+F6</td>
                <td>Previous Window</td>
                <td>Alt+F8</td>
                <td>Toggle Find Results Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+Tab</td>
                <td>Previous Window</td>
                <td>Shift+F8</td>
                <td>Toggle Individual Output Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+C</td>
                <td>Clipboard Swap</td>
                <td>F8</td>
                <td>Toggle Output Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+F</td>
                <td>Find in Files Dialog</td>
                <td>Alt+F6</td>
                <td>Toggle Project Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+H</td>
                <td>Switch to (or Open) Alternate file</td>
                <td>Alt+F10</td>
                <td>Toggle Scripts Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+L</td>
                <td>Delete Line</td>
                <td>Alt+F7</td>
                <td>Toggle Text Clips Window</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+S</td>
                <td>Save All</td>
                <td>Ctrl+T</td>
                <td>Transpose Lines</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+T</td>
                <td>Copy Line</td>
                <td>Ctrl+Z</td>
                <td>Undo</td>
            </tr>
            <tr>
                <td>Ctrl+Shift+U</td>
                <td>Uppercase</td>
                <td>Ctrl+Shift+U</td>
                <td>Uppercase</td>
            </tr>
        </table>
    </div>   

</div>
