<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign">Important Lines and Boundaries</h2>



    
    
    <div class="styleShet" ng-click="toggle()">
        <h4>
            Boundaries Lines
            <span ng-hide ="boundaries" class= "caretright" ></span><span ng-show="boundaries" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries" class="view">
        <table class="table table-bordered">
        <tr class="trHeading">
            <td>Lines</td>
            <td>Boundaries</td>
        </tr>
        <tr>
            <td>Marginal Line :</td>
            <td> 320 km line of fortification on the Russia-Finland border</td>
        </tr>
        <tr>
            <td>Line of Actual Control :</td>
            <td> India&nbsp; &amp; China on the Northern Border</td>
        </tr>
        <tr>
            <td>Line of Control :</td>
            <td> India and Pakistan</td>
        </tr>
        <tr>
            <td>Durand Line :</td>
            <td> Afghanistan and Pakistan</td>
        </tr>
        <tr>
            <td>Radcliffe Line :</td>
            <td> India and Pakistan (its includes Bangladesh Line)</td>
        </tr>
        <tr>
            <td>Blue Line :</td>
            <td> Isreal &amp; Lebanon</td>
        </tr>
        <tr>
            <td>Purple Line :</td>
            <td> Israel and Syria</td>
        </tr>
        <tr>
            <td>Green Line :</td>
            <td> Israel and its neighbours (Egypt, Jordan, Lebanon and Syria)</td>
        </tr>
        <tr>
            <td>Mason–Dixon line :</td>
            <td> Maryland and Pennsylvania/Delaware in Colonial America</td>
        </tr>
        <tr>
            <td>Curzon Line :</td>
            <td> Poland &amp; Russia</td>
        </tr>
        <tr>
            <td>Military Demarcation Line (MDL) or Armistice Line :</td>
            <td> North Korea and South Korea</td>
        </tr>
        <tr>
            <td>McMohan Line </td>
            <td>: India &amp; China</td>
        </tr>
        <tr>
            <td>Maginot Line :</td>
            <td> France &amp; Germany</td>
        </tr>
        <tr>
            <td>Mannar haime line :</td>
            <td> Russia &amp; Finland</td>
        </tr>
        <tr>
            <td>Order Neisse Line :</td>
            <td> Germany &amp; Poland (aftermath of World War II)</td>
        </tr>
        <tr>
            <td>Hindenburg Line :</td>
            <td> Poland &amp; Germany (at the time of First World War)</td>
        </tr>
        <tr>
            <td>Sigfried Line East :</td>
            <td> France &amp; Germany (at the time of second world war)</td>
        </tr>
        <tr>
            <td>16 Parallel North :</td>
            <td> Angola and Namibia</td>
        </tr>
        <tr>
            <td>17th Parallel Line :</td>
            <td> North &amp; South Vietnam</td>
        </tr>
        <tr>
            <td>20 Parallel North :</td>
            <td> Libya &amp; Sudan</td>
        </tr>
        <tr>
            <td>22 Parallel North :</td>
            <td> Egypt &amp; Sudan</td>
        </tr>
        <tr>
            <td>25 Parallel North :</td>
            <td> Mauritania &amp; Mali</td>
        </tr>
        <tr>
            <td>26 Parallel North :</td>
            <td> Western Sahara &amp; Mauritania</td>
        </tr>
        <tr>
            <td>31 Parallel North :</td>
            <td> Iraq &amp; Iran</td>
        </tr>
        <tr>
            <td>35 Parallel North :</td>
            <td> US it serves as border b/w Tennessee/Mississippi, Tennnessee/Alabama, Tennesse/Georgia, North Carolina/Georgia</td>
        </tr>
        <tr>
            <td>36 Parallel North :</td>
            <td> In the US it Forms forms the southernmost boundary of the state of Missouri with the state of Arkansas</td>
        </tr>
        <tr>
            <td>38 Parallel North Line :</td>
            <td> North&nbsp; &amp; South Korea</td>
        </tr>
        <tr>
            <td>40 Parallel North :</td>
            <td> US it serves as border b/w Nebraska &amp; Kansas</td>
        </tr>
        <tr>
            <td>41 Parallel North :</td>
            <td> US it forms the border b/w wyoming/utah border, Wyoming/colorado, Nebraska/Colorado.</td>
        </tr>
        <tr>
            <td>42 Parallel North :</td>
            <td> US it serves as border of new york &amp; Pennsylvania Border</td>
        </tr>
        <tr>
            <td>43 Parallel North :</td>
            <td> US it serves as border of b/w State Nebraska &amp; state of south Dakota</td>
        </tr>
        <tr>
            <td>45 Parallel North :</td>
            <td> US it forms the boundary b/w Montana &amp; wyoming</td>
        </tr>
        <tr>
            <td>49 Parallel North (Medicine Line) :</td>
            <td> USA &amp; Canada</td>
        </tr>
    </table>  
    </div>


<!--    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="boundaries1" class= "caretright" ></span><span ng-show="boundaries1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries1" class="view">
                    { defination }
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="boundaries2" class= "caretright" ></span><span ng-show="boundaries2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries2" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="boundaries3" class= "caretright" ></span><span ng-show="boundaries3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries3" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="boundaries4" class= "caretright" ></span><span ng-show="boundaries4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries4" class="view">
	   {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="boundaries5" class= "caretright" ></span><span ng-show="boundaries5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries5" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="boundaries6" class= "caretright" ></span><span ng-show="boundaries6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries6" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="boundaries7" class= "caretright" ></span><span ng-show="boundaries7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries7" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="boundaries8" class= "caretright" ></span><span ng-show="boundaries8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries8" class="view">
           {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="boundaries9" class= "caretright" ></span><span ng-show="boundaries9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries9" class="view">
           {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="boundaries10" class= "caretright" ></span><span ng-show="boundaries10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries10" class="view">
           {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="boundaries11" class= "caretright" ></span><span ng-show="boundaries11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="boundaries11" class="view">
           {keep defination }
    </div>-->
    
</div>
