<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign">Dances</h2>






    <div class="styleShet" ng-click="toggle()">
        <h4>
            State Wise Folk Dances
            <span ng-hide ="dances" class= "caretright" ></span><span ng-show="dances" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances" class="view">
        <table class="table table-bordered">
            <tr class="trHeading">
                <th> State </th>
                <th> Folk Dances </th>
            </tr>
            <tr>
                <td> Andhra Pradesh </td>
                <td> Kuchipudi, Vilasini Natyam, Andhra Natyam, Bhamakalpam, Veeranatyam, Dappu, Tappeta Gullu, Lambadi, Dhimsa, Kolattam, Butta Bommalu. </td>
            </tr>
            <tr>
                <td> Assam </td>
                <td> Bihu, Bichhua, Natpuja, Maharas, Kaligopal, Bagurumba, Naga dance, Khel Gopal, Tabal Chongli, Canoe, Jhumura Hobjanai </td>
            </tr>
            <tr>
                <td> Bihar </td>
                <td> Jata-Jatin, Bakho-Bakhain, Panwariya, Sama Chakwa, Bidesia. </td>
            </tr>
            <tr>
                <td> Gujarat </td>
                <td> Garba, Dandiya Ras, Tippani Juriun, Bhavai. </td>
            </tr>
            <tr>
                <td> Haryana </td>
                <td> Jhumar, Phag, Daph, Dhamal, Loor, Gugga, Khor, Gagor. </td>
            </tr>
            <tr>
                <td> Himachal Pradesh </td>
                <td> Jhora, Jhali, Chharhi, Dhaman, Chhapeli, Mahasu, Nati, Dangi. </td>
            </tr>
            <tr>
                <td> Jammu and Kashmir </td>
                <td> Rauf, Hikat, Mandjas, Kud Dandi Nach, Damali. </td>
            </tr>
            <tr>
                <td> Karnataka </td>
                <td> Yakshagan, Huttari, Suggi, Kunitha, Karga, Lambi. </td>
            </tr>
            <tr>
                <td> Kerala </td>
                <td> Kathakali (Classical), Ottam Thulal, Mohiniattam, Kaikottikali. </td>
            </tr>
            <tr>
                <td> Maharashtra </td>
                <td> Lavani, Nakata, Koli, Lezim, Gafa, Dahikala Dasavtar or Bohada. </td>
            </tr>
            <tr>
                <td> Odisha </td>
                <td> Odissi (Classical), Savari, Ghumara, Painka, Munari, Chhau. </td>
            </tr>
            <tr>
                <td> West Bengal </td>
                <td> Kathi, Gambhira, Dhali, Jatra, Baul, Marasia, Mahal, Keertan. </td>
            </tr>
            <tr>
                <td> Punjab </td>
                <td> Bhangra, Giddha, Daff, Dhaman, Bhand, Naqual. </td>
            </tr>
            <tr>
                <td> Rajasthan </td>
                <td> Ghumar, Chakri, Ganagor, Jhulan Leela, Jhuma, Suisini, Ghapal, Kalbeliya. </td>
            </tr>
            <tr>
                <td> Tamil Nadu </td>
                <td> Bharatanatyam, Kumi, Kolattam, Kavadi. </td>
            </tr>
            <tr>
                <td> Uttar Pradesh </td>
                <td> Nautanki, Raslila, Kajri, Jhora, Chappeli, Jaita. </td>
            </tr>
            <tr>
                <td> Uttarakhand </td>
                <td> Garhwali, Kumayuni, Kajari, Jhora, Raslila, Chappeli. </td>
            </tr>
            <tr>
                <td> Goa </td>
                <td> Tarangamel, Koli, Dekhni, Fugdi, Shigmo, Ghode, Modni, Samayi nrutya, Jagar, Ranmale, Gonph, Tonnya mell. </td>
            </tr>
            <tr>
                <td> Madhya Pradesh </td>
                <td> Jawara, Matki, Aada, Khada Nach, Phulpati, Grida Dance, Selalarki, Selabhadoni, Maanch. </td>
            </tr>
            <tr>
                <td> Chhattisgarh </td>
                <td> Gaur Maria, Panthi, Raut Nacha, Pandwani, Vedamati, Kapalik, Bharthari Charit, Chandaini. </td>
            </tr>
            <tr>
                <td> Jharkhand </td>
                <td> Alkap, Karma Munda, Agni, Jhumar, Janani Jhumar, Mardana Jhumar, Paika, Phagua,Hunta Dance, Mundari Dance, Sarhul, Barao, Jhitka, Danga, Domkach, Ghora Naach. </td>
            </tr>
            <tr>
                <td> Arunachal Pradesh </td>
                <td> Buiya, Chalo, Wancho, Pasi Kongki, Ponung, Popir, Bardo Chham. </td>
            </tr>
            <tr>
                <td> Manipur </td>
                <td> Dol Cholam, Thang Ta, Lai Haraoba, Pung Cholom, Khamba Thaibi, Nupa Dance, Raslila, Khubak Ishei, Lhou&nbsp; Sha. </td>
            </tr>
            <tr>
                <td> Meghalaya </td>
                <td> Ka Shad Suk Mynsiem, Nongkrem, Laho. </td>
            </tr>
            <tr>
                <td> Mizoram </td>
                <td> Cheraw Dance, Khuallam, Chailam, Sawlakin, Chawnglaizawn, Zangtalam, Par Lam, Sarlamkai/Solakia, Tlanglam. </td>
            </tr>
            <tr>
                <td> Nagaland </td>
                <td> Rangma, Bamboo Dance, Zeliang, Nsuirolians, Gethinglim, Temangnetin, Hetaleulee. </td>
            </tr>
            <tr>
                <td> Tripura </td>
                <td> Hojagiri. </td>
            </tr>
            <tr>
                <td> Sikkim </td>
                <td> Chu Faat Dance, Sikmari, Singhi Chaam or the Snow Lion Dance, Yak Chaam, Denzong Gnenha, Tashi Yangku Dance, Khukuri Naach, Chutkey Naach, Maruni Dance. </td>
            </tr>
            <tr>
                <td> Lakshadweep </td>
                <td> Lava, Kolkali, Parichakali. </td>
            </tr>

        </table>
    </div>


    <!--    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="dances1" class= "caretright" ></span><span ng-show="dances1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances1" class="view">
        { defination }
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="dances2" class= "caretright" ></span><span ng-show="dances2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances2" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="dances3" class= "caretright" ></span><span ng-show="dances3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances3" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="dances4" class= "caretright" ></span><span ng-show="dances4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances4" class="view">
        {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="dances5" class= "caretright" ></span><span ng-show="dances5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances5" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="dances6" class= "caretright" ></span><span ng-show="dances6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances6" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="dances7" class= "caretright" ></span><span ng-show="dances7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances7" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="dances8" class= "caretright" ></span><span ng-show="dances8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances8" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="dances9" class= "caretright" ></span><span ng-show="dances9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances9" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="dances10" class= "caretright" ></span><span ng-show="dances10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances10" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="dances11" class= "caretright" ></span><span ng-show="dances11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="dances11" class="view">
        {keep defination }
    </div>-->
</div>
