<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign">Country Emblem & National Animals</h2>
  

    <div class="styleShet" ng-click="toggle()">
        <h4>
            Country Emblem & National Animals
            <span ng-hide ="emblem" class= "caretright" ></span><span ng-show="emblem" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem" class="view">
        <table class="table table-bordered">
        <tr class="trHeading">
            <td><b>Country</b></td>
            <td><b>Emblem</b></td>
            <td><b>National Animals</b></td>
        </tr>
        <tr>
            <td>India</td>
            <td>Lioned Capitol</td>
            <td>Bengal tiger</td>
        </tr>
        <tr>
            <td>Pakistan</td>
            <td>Crescent &amp; Star </td>
            <td>Markhor</td>
        </tr>
        <tr>
            <td>Bangladesh</td>
            <td>Water Lily </td>
            <td>Royal Bengal tiger </td>
        </tr>
        <tr>
            <td>Netherlands</td>
            <td>Lion</td>
            <td>Lion</td>
        </tr>
        <tr>
            <td>Norway</td>
            <td>Lion</td>
            <td>Elk (Moose) </td>
        </tr>
        <tr>
            <td>New Zealand</td>
            <td>Kiwi</td>
            <td>Ibis</td>
        </tr>
        <tr>
            <td>Spain</td>
            <td>Eagle </td>
            <td>Bull</td>
        </tr>
        <tr>
            <td>Australia</td>
            <td>Kangaroo </td>
            <td>Kangaroo </td>
        </tr>
        <tr>
            <td>United Kingdom (U.K.)</td>
            <td>Rose </td>
            <td>Robin redbreeast </td>
        </tr>
        <tr>
            <td>Iran</td>
            <td>Rose</td>
            <td>Lion</td>
        </tr>
        <tr>
            <td>U.S.A.</td>
            <td>Golden Rod</td>
            <td>The American bison</td>
        </tr>
        <tr>
            <td>France</td>
            <td>Lily </td>
            <td>Gallic rooster</td>
        </tr>
        <tr>
            <td>Italy</td>
            <td>White Lily </td>
            <td>Wolf</td>
        </tr>
        <tr>
            <td>Germany</td>
            <td>Com Flower </td>
            <td>Eagle</td>
        </tr>
        <tr>
            <td>Japan</td>
            <td>Chrysanthemum</td>
            <td>Ibis</td>
        </tr>
        <tr>
            <td>Canada</td>
            <td>Maple Leaf, Lily Maple</td>
            <td>Eagle </td>
        </tr>
        <tr>
            <td>Nepal</td>
            <td>Mount Everest, green hills</td>
            <td>Cow </td>
        </tr>
        <tr>
            <td>South Africa</td>
            <td>The rising sun, The secretary bird, The King protea</td>
            <td>Springbok</td>
        </tr>
        <tr>
            <td>South Korea</td>
            <td>Taeguk symbol</td>
            <td>Siberian Tiger </td>
        </tr>
        <tr>
            <td>Afghanistan</td>
            <td>Some form on the flag of Afghanistan since the inception of that nation. </td>
            <td>Snow leopard </td>
        </tr>
    </table> 
    </div>


<!--    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="emblem1" class= "caretright" ></span><span ng-show="emblem1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem1" class="view">
                    { defination }
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="emblem2" class= "caretright" ></span><span ng-show="emblem2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem2" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="emblem3" class= "caretright" ></span><span ng-show="emblem3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem3" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="emblem4" class= "caretright" ></span><span ng-show="emblem4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem4" class="view">
	   {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="emblem5" class= "caretright" ></span><span ng-show="emblem5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem5" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="emblem6" class= "caretright" ></span><span ng-show="emblem6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem6" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="emblem7" class= "caretright" ></span><span ng-show="emblem7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem7" class="view">
	   {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="emblem8" class= "caretright" ></span><span ng-show="emblem8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem8" class="view">
           {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="emblem9" class= "caretright" ></span><span ng-show="emblem9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem9" class="view">
           {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="emblem10" class= "caretright" ></span><span ng-show="emblem10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem10" class="view">
           {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="emblem11" class= "caretright" ></span><span ng-show="emblem11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="emblem11" class="view">
           {keep defination }
    </div>-->
    
</div>
