.<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign"> General Knowledge </h2>



<!--<br/><br/><br/>
  <h2 style="text-align: center;" > Coming soon .....</h2>
 <br/><br/><br/>-->


    <div class="styleShet" ng-click="toggle()">
        <h4>
            Largest thing in India
            <span ng-hide ="generalKnowledge" class= "caretright" ></span><span ng-show="generalKnowledge" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge" class="view">
        <table class="table table-bordered" >
            <tr class="trHeading">
                <th></th>
                <th></th>
            </tr>
             <tr>
                <td><b>Largest State (Area) in India</b></td>
                <td>Rajasthan</td>
            </tr>
            <tr>
                <td><b>Largest forest state in India</b></td>
                <td>Madhya Pradesh </td>
            </tr>
            <tr>
                <td><b>Largest State (Population) in India</b></td>
                <td>Uttar Pradesh</td>
            </tr>
            <tr>
                <td><b>Largest District </b></td>
                <td>Kutch district  </td>
            </tr>
            <tr>
                <td><b>Largest Lake  in India</b></td>
                <td>Wular Lake, Kashmir </td>
            </tr>
            <tr>
                <td><b>Largest Lake (Saline Water)  in India</b></td>
                <td>Chilka Lake, Orrisa </td>
            </tr>
            <tr>
                <td><b>Largest Man-Made Lake  in India</b></td>
                <td>Govind Vallabh Pant Sagar (Rihand Dam) </td>
            </tr>
            <tr>
                <td><b>Largest Fresh Water Lake  in India</b></td>
                <td>Kolleru Lake (Andhra Pradesh) </td>
            </tr>
            <tr>
                <td><b>Largest Bird in India</b></td>
                <td>Ostrich</td>
            </tr>
            <tr>
                <td><b><b>Largest Archipelago in India</b></td>
                <td>Indonesia</td>
            </tr>
            <tr>
                <td><b>Largest Temple in India </b></td>
                <td>Sri Ranganathaswamy Temple,Tamil Nadu</td>
            </tr>
            <tr>
                <td><b>Largest Cave </b></td>
                <td>Amarnath (J&amp;K)</td>
            </tr>
            <tr>
                <td><b>Largest cave temple in India</b></td>
                <td>Kailash temple, Ellora (Maharashtra)</td>
            </tr>
            <tr>
                <td><b>Largest Mosque in India</b></td>
                <td>Jama Masjid, Delhi</td>
            </tr>
            
            <tr>
                <td><b>Largest Church in India</b></td>
                <td>Saint Cathedral (Goa)</td>
            </tr>
            <tr>
                <td><b>Largest Gurudwara in India</b></td>
                <td>Golden Temple, Amritsar</td>
            </tr>
            <tr>
                <td><b>Largest Museum in India</b></td>
                <td>National Museum, Kolkata</td>
            </tr>
            <tr>
                <td><b>Largest Delta</b></td>
                <td>Sunderban Delta, W. Bengal</td>
            </tr>
            <tr>
                <td><b>Largest Dome in India</b></td>
                <td>Gol Gumbaz, Bijapur (Karnataka)</td>
            </tr>
            <tr>
                <td><b>Largest Zoo (India)</b></td>
                <td>Zoological Gardens, Alipur, Kolkata</td>
            </tr>
            <tr>
                <td><b>Largest Desert in India</b></td>
                <td>Thar (Rajasthan)</td>
            </tr>
            
            <tr>
                <td><b>Largest animal Fair in India</b></td>
                <td>Sonepur (Bihar)</td>
            </tr>
            
            <tr>
                <td><b>Largest corridor in India</b></td>
                <td>Rameshwaram temple corridor (Tamil Nadu)</td>
            </tr>
            <tr>
                <td><b>Largest cantilever span bride</b></td>
                <td>Howrah Bridge (Kolkata)</td>
            </tr>
            
            <tr>
                <td><b>Largest Stadium in India</b></td>
                <td>Salt lake (Yuva Bharti), Kolkata</td>
            </tr>
            <tr>
                <td><b>Largest Port in India</b></td>
                <td>Mumbai</td>
            </tr>
            <tr>
                <td><b>Largest river island</b></td>
                <td>Majuli (Brahmaputra river, Assam)</td>
            </tr>
            <tr>
                <td><b>Largest Planetarium in India</b></td>
                <td>Birla Planetarium (Kolkata)</td>
            </tr>
            <tr>
                <td><b>Largest Lake (Saline water) in India</b></td>
                <td>Chilka lake, Orissa</td>
            </tr>
            <tr>
                <td><b>Largest Auditorium</b></td>
                <td>Sri Shanmukhananda Hall,Mumbai</td>
            </tr>
            <tr>
                <td><b>Largest Prison</b></td>
                <td>Tihar Central Jail, Delhi</td>
            </tr>
            
            <tr>
                <td><b>Largest Barrage</b></td>
                <td>Farakka Barrage, Ganga</td>
            </tr>
            <tr>
                <td><b>Largest Cinema Theatre</b></td>
                <td>Thangam, Madurai</td>
            </tr>
            <tr>
                <td><b>Largest Exhibition Ground</b></td>
                <td>Pragati Maidan Complex, New Delhi</td>
            </tr>
            <tr>
                <td><b>Largest Hotel</b></td>
                <td>Oberoi –Sheraton, Mumbai</td>
            </tr>
            <tr>
                <td><b>Largest Post Office</b></td>
                <td>Mumbai GPO</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
        </table>
    </div>

 
     <div class="styleShet" ng-click="toggle7()">
        <h4> Largest thing in World
            <span ng-hide ="generalKnowledge7" class= "caretright" ></span><span ng-show="generalKnowledge7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge7" class="view">
        <table class="table table-bordered">
            <tr>
                <td><b>Largest City in Population</b></td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td><b>Largest Continent</b></td>
                <td>Asia</td>
            </tr>
            <tr>
                <td><b>Largest (Population) Country</b></td>
                <td>China</td>
            </tr>
            <tr>
                <td><b>Largest (Electorate) Country</b></td>
                <td>India</td>
            </tr>
            <tr>
                <td><b>Largest Creature</b></td>
                <td>Blue Whale</td>
            </tr>
            <tr>
                <td><b>Largest Delta</b></td>
                <td>Sunderban (Bangladesh &amp; India)</td>
            </tr>
            <tr>
                <td><b>Largest Desert (World)</b></td>
                <td>Sahara (Africa)</td>
            </tr>
            <tr>
                <td><b>Largest Desert (Asia)</b></td>
                <td>Gobi</td>
            </tr>
            <tr>
                <td><b>Largest Dam (World)</b></td>
                <td>Grand Coulee Dam (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Largest Diamond in the World</b></td>
                <td>The Cullinan</td>
            </tr>
            <tr>
                <td><b>Largest Dome in the World</b></td>
                <td>Astrodome, in Housten (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Largest Epic in the World</b></td>
                <td>Mahabharat</td>
            </tr>
            <tr>
                <td><b>Largest Irrigation Scheme in World</b></td>
                <td>Lloyd Barrage, Sukkur (Pakistan)</td>
            </tr>
            <tr>
                <td><b>Largest Island (World)</b></td>
                <td>Greenland</td>
            </tr>
            <tr>
                <td><b>Largest Sea in the World</b></td>
                <td>Mediterranean sea</td>
            </tr>
            <tr>
                <td><b>Largest Lake (Artificial) in the World</b></td>
                <td>Lake Mead (Boulder Dam)</td>
            </tr>
            <tr>
                <td><b>Largest Lake (Fresh water) in the World</b></td>
                <td>Superior</td>
            </tr>
            <tr>
                <td><b>Largest Lake(Salt water) in the World</b></td>
                <td>Caspian</td>
            </tr>
            <tr>
                <td><b>Largest Library in the World</b></td>
                <td>United State Library of Congress, Washington D.C.</td>
            </tr>
            <tr>
                <td><b>Largest Museum in the World</b></td>
                <td>British Museum, London</td>
            </tr>
            <tr>
                <td><b>Largest Ocean</b></td>
                <td>Pacific</td>
            </tr>
            <tr>
                <td><b>Largest Park in the World</b></td>
                <td>Yellow Stone National Park (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Largest Peninsula in the World</b></td>
                <td>Arabia</td>
            </tr>
            <tr>
                <td><b>Largest River(deepest) in the Worlds</b></td>
                <td>Amazon (S. America)</td>
            </tr>
            <tr>
                <td><b>Largest Sea-bird</b></td>
                <td>Albatross</td>
            </tr>
            <tr>
                <td><b>Largest Radio Telescope</b></td>
                <td>New Mexico (U.S.A.)</td>
            </tr>
        </table>
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>Highest Thing in India
            <span ng-hide ="generalKnowledge8" class= "caretright" ></span><span ng-show="generalKnowledge8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge8" class="view">
        <table class="table table-bordered">
             <tr>
                <td><b> Highest Peak</b></td>
                <td>Karkoram-2 / K-2 (8611 mtr.)</td>
            </tr>
            <tr>
                <td><b>Highest Gateway in India</b></td>
                <td>Buland Darwaza at Fatehpur Sikri (53.6 meters high)</td>
            </tr>
            <tr>
                <td><b>Highest Award in India</b></td>
                <td>Bharat Ratna</td>
            </tr>
            <tr>
                <td><b>Highest Gallantry Award in India</b></td>
                <td>Param Vir Chakra</td>
            </tr>
            <tr>
                <td><b>Highest rainfall in India</b></td>
                <td>Cherrapunhi (426 inches per annum)</td>
            </tr>
            <tr>
                <td><b>Highest Dam in India</b></td>
                <td>Tehri Dam ( 260 meters , 850 ft )</td>
            </tr>
            <tr>
                <td><b>Highest Railway Station in India</b></td>
                <td>Ghum (W. Bengal)</td>
            </tr>
            <tr>
                <td><b>Highest Watefall in India</b></td>
                <td>Nohkalikai Falls (335 meters, 1100 ft high) in Shora</td>
            </tr>
            <tr>
                <td><b>Highest Battle Field in India</b></td>
                <td>Siachin Glacier</td>
            </tr>
            <tr>
                <td><b>Highest Lake in India</b></td>
                <td>Devtal Lake, Gadhwal (Uttarakhand)</td>
            </tr>
            <tr>
                <td><b>Highest Airport in India</b></td>
                <td>Leh (Laddakh)</td>
            </tr>
            <tr>
                <td><b>Highest Road in India</b></td>
                <td>Road at Khardungla,(in Leh-Manali Sector)</td>
            </tr>
            <tr>
                <td><b> Highest Road</b></td>
                <td>Road at Khardungla, (in Leh-Manali Sector)</td>
            </tr>
            <tr>
                <td><b>Highest Tower</b></td>
                <td>Kutab Minar, Delhi, 88.4m</td>
            </tr>
            <tr>
                <td><b>Highest straight gravity Dam</b></td>
                <td>Bhakra Dam</td>
            </tr>
            <tr>
                <td><b>Highest populated State</b></td>
                <td>Uttar Pradesh</td>
            </tr>
            <tr>
                <td><b>Highest Radio Station</b></td>
                <td>The Leh station of AIR</td>
            </tr>
            <tr>
                <td><b>Highest Statue</b></td>
                <td>Jain Saint Gomateswara,Karnataka</td>
            </tr>
<!--            <tr>
                <td><b></b></td>
                <td></td>
            </tr>-->
        </table>
    </div>



    <div class="styleShet" ng-click="toggle3()">
        <h4>Highest Thing in World
            <span ng-hide ="generalKnowledge3" class= "caretright" ></span><span ng-show="generalKnowledge3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge3" class="view">
	<table class="table table-bordered">  
            <tr>
                <td><b>Highest City in the World</b></td>
                <td>Van Chuan (China)</td>
            </tr>
            <tr>
                <td><b>Highest Waterfall in the World</b></td>
                <td>Angel (Venezuela)</td>
            </tr>
            <tr>
                <td><b>Highest Lake in the World</b></td>
                <td>Titicaca (Bolivia)</td>
            </tr>
            <tr>
                <td><b>Highest Volcano in the World</b></td>
                <td>Ojos del Salado (Andes, Ecuador)</td>
            </tr>
            <tr>
                <td><b>Highest Dam (World)</b></td>
                <td>Hoover Dam (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Highest Mountain Peak in the World</b></td>
                <td>Mount Everest (Nepal)</td>
            </tr>
            <tr>
                <td><b>Highest Plateau in the World</b></td>
                <td>Pamir (Tibet)</td>
            </tr>
<!--            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>-->
        </table>
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>Longest  Thing in India
            <span ng-hide ="generalKnowledge4" class= "caretright" ></span><span ng-show="generalKnowledge4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge4" class="view">
	<table class="table table-bordered">  
            <tr>
                <td><b>Longest River in India</b></td>
                <td>The Ganges (2640 km long)</td>
            </tr>
            <tr>
                <td><b>Longest Canal in India</b></td>
                <td>Indira Gandhi Canal or Rajasthan Canal (Rajasthan)</td>
            </tr>
            <tr>
                <td><b>Longest Electric Railway Line</b></td>
                <td>From Delhi to Kolkata via Patna</td>
            </tr>
            <tr>
                <td><b>Longest Tributary river of India</b></td>
                <td>Yamuna</td>
            </tr>
            <tr>
                <td><b>Longest Dam in India</b></td>
                <td>Hirakud Dam (Orrisa)</td>
            </tr>
            <tr>
                <td><b>Longest Railway Route in India</b></td>
                <td>From Assam to Kanyakumari</td>
            </tr>
            <tr>
                <td><b>Longest Railway Platform in India</b></td>
                <td>Gorakhpur Railway Platform (1366.33 m) U.P</td>
            </tr>
            <tr>
                <td><b>Longest River Bridge in India</b></td>
                <td>Mahatma Gandhi Setu, Patna</td>
            </tr>
            <tr>
                <td><b>Longest Beach in India</b></td>
                <td>Marina Beach, Chennai</td>
            </tr>
            <tr>
                <td><b>Longest Tunnel in India</b></td>
                <td>Jawahar tunnel (Pir Panjal Tunnel )(Jammu & Kashmir)</td>
            </tr>
            <tr>
                <td><b>Longest Road in India	</b></td>
                <td>Grand Trunk Road</td>
            </tr>
            <tr>
                <td><b>Longest Highway in India</b></td>
                <td>NH-7 which runs from Varanasi to Kanyakumari </td>
            </tr>
            <tr>
                <td><b>Longest Cantilever Span bridge</b></td>
                <td>Howrah Bridge</td>
            </tr>
            <tr>
                <td><b>State with longest coastline in India </b></td>
                <td>Gujarat</td>
            </tr>
            <tr>
                <td><b>The longest river of the south India </b></td>
                <td>Godavari</td>
            </tr>
            <tr>
                <td><b>Longest river which forms estuary in India</b></td>
                <td>Narmada</td>
            </tr>
            <tr>
                <td><b>Longest coastline State</b></td>
                <td>Gujarat</td>
            </tr>
            <tr>
                <td><b>Logest bridge above water </b></td>
                <td>Bandra-Worli Sea Link, Maharastra</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Logest distance run train </b></td>
                <td> Vivek Express</td>
            </tr>
            <tr>
                <td><b>Longest nonstop run train</b></td>
                <td>Trivandrum Rajdhani</td>
            </tr>
            <tr>
                <td><b>Longest railway bridge</b></td>
                <td>Vembanad Rail bridge,Kerala</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
        </table>
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>Longest thing in World
            <span ng-hide ="generalKnowledge5" class= "caretright" ></span><span ng-show="generalKnowledge5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge5" class="view">
	  <table class="table table-bordered">     
            <tr>
                <td><b>Longest river (World)</b></td>
                <td>Nile</td>
            </tr>
            <tr>
                <td><b>Longest Railway(World)</b></td>
                <td>Trans-Siberian railway</td>
            </tr>
            <tr>
                <td><b>Longest Railway Station (World)	</b></td>
                <td>Grand Central Terminal, Chicago (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Longest Railway Bridge in the World</b></td>
                <td>Huey P. Long Bridge, Louisiana (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Longest Canal in World</b></td>
                <td>Suez Canal</td>
            </tr>
             <tr>
                <td><b>Longest Tunnel in World (Railway)</b></td>
                <td>Tanna (Japan)</td>
            </tr>
            <tr>
                <td><b>Longest Tunnel in World (Road)</b></td>
                <td>Mont Blanc Tunnel between France and Italy</td>
            </tr>
            <tr>
                <td><b>Longest Wall (World)</b></td>
                <td>Great wall of China</td>
            </tr>
            <tr>
                <td><b>Longest Mountain Range in the World</b></td>
                <td>Andes (S. America)</td>
            </tr>
        </table>
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>Biggest & Smallest thing in India
            <span ng-hide ="generalKnowledge6" class= "caretright" ></span><span ng-show="generalKnowledge6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge6" class="view">
        <table class="table table-bordered">
             <tr>
                <td><b>Biggest Cave temple in India</b></td>
                <td>Ellora</td>
            </tr>
            <tr>
                <td><b>Biggest Stadium in India</b></td>
                <td>Yuva Bharti (Salt Lake) Stadium, Kolkata</td>
            </tr>
             <tr>
                <td><b>Biggest Hotel in India</b></td>
                <td>Oberai-Sheraton (Mumbai)</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b>Smallest State (Population)</b></td>
                <td>Sikkim</td>
            </tr>
            <tr>
                <td><b>	 Smallest State (Area)</b></td>
                <td>Goa</td>
            </tr>
            <tr>
                <td><b>Smallest Lok Sabha Contituency by area</b></td>
                <td>Chandni Chowk</td>
            </tr>
            <tr>
                <td><b>Smallest Lok Sabha Contituency by population</b></td>
                <td>Lakshdweep</td>
            </tr>
        </table>
    </div>

    
    <div class="styleShet" ng-click="toggle9()">
        <h4>Biggest & Smallest thing in WORLD
            <span ng-hide ="generalKnowledge9" class= "caretright" ></span><span ng-show="generalKnowledge9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge9" class="view">
           <table class="table table-bordered">
             <tr>
                <td><b>Biggest Planet</b></td>
                <td>Jupiter</td>
            </tr>
            <tr>
                <td><b>Biggest Palace in the World</b></td>
                <td>	Vatican (Italy)</td>
            </tr>
             <tr>
                <td><b>Biggest Country(Area) in the World</b></td>
                <td>Russia</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b>Smallest Continent</b></td>
                <td>Australia</td>
            </tr>
            <tr>
                <td><b>Smallest Bird in the World</b></td>
                <td>Humming Bird</td>
            </tr>
            <tr>
                <td><b>Smallest Planet</b></td>
                <td>Mercury</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
<!--             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>-->
        </table>
    </div>


<!--    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="generalKnowledge10" class= "caretright" ></span><span ng-show="generalKnowledge10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge10" class="view">
           <table class="table table-bordered">
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="generalKnowledge11" class= "caretright" ></span><span ng-show="generalKnowledge11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge11" class="view">
          <table class="table table-bordered">
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
             <tr>
                <td><b></b></td>
                <td></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
            </tr>
        </table>
    </div>


    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="generalKnowledge1" class= "caretright" ></span><span ng-show="generalKnowledge1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge1" class="view">
        <table class="table table-striped table-bordered">
            <tr>
                <td><b>Longest river (India)</b></td>
                <td>Ganges</td>
            </tr>
            <tr>
                <td><b>Longest river (World)</b></td>
                <td>Nile</td>
            </tr>
            <tr>
                <td><b>Longest Railway(World)</b></td>
                <td>Trans-Siberian railway</td>
            </tr>
            <tr>
                <td><b>Longest Railway Station (World)</b></td>
                <td>Grand Central Terminal, Chicago (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>The longest tributary river of India</b></td>
                <td>Yamuna</td>
            </tr>
            <tr>
                <td><b>The longest river of the south India</b></td>
                <td>Godavari</td>
            </tr>
            <tr>
                <td><b>Longest Electric railway line in India</b></td>
                <td>From Delhi to Kolkata via Patna</td>
            </tr>
            <tr>
                <td><b>Longest Road in India</b></td>
                <td>Grand Trunk Road</td>
            </tr>
            <tr>
                <td><b>State with longest coastline in India</b></td>
                <td>Gujarat</td>
            </tr>
            <tr>
                <td><b>Longest railway route in India</b></td>
                <td>Dibrugarh in Assam to Kannyakumari in Tamil Nadu</td>
            </tr>
            <tr>
                <td><b>Longest tunnel in India</b></td>
                <td>Jawahar tunnel (Jammu &amp; Kashmir)</td>
            </tr>
            <tr>
                <td><b>Longest national highway in India</b></td>
                <td>NH-7 which runs from Varanasi to Kanyakumari</td>
            </tr>
            <tr>
                <td><b>Longest Dam in India</b></td>
                <td>Hirakund Dam (Orissa)</td>
            </tr>
            <tr>
                <td><b>Longest River Bride in India</b></td>
                <td>Mahatma Gandhi Setu, Patna</td>
            </tr>
            <tr>
                <td><b>Longest Populated City in India</b></td>
                <td>Mumbai (1.60 crore)</td>
            </tr>
            <tr>
                <td><b>Longest Railway Platform</b></td>
                <td>Gorakhpur (Uttar Pradesh)</td>
            </tr>
            <tr>
                <td><b>Longest river which forms estuary in India</b>
                    <br>
                </td>
                <td>Narmada</td>
            </tr>
            <tr>
                <td><b>State with longest coastline of South India</b></td>
                <td>Andhra Pradesh</td>
            </tr>
            <tr>
                <td><b>Longest Railway Bridge in the World</b></td>
                <td>Huey P. Long Bridge, Louisiana (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Longest Irrigational Canal</b></td>
                <td>The Kalakumsky Canal</td>
            </tr>
            <tr>
                <td><b>Longest Canal in World</b>
                    <br>
                </td>
                <td>Suez Canal</td>
            </tr>
            <tr>
                <td><b>Longest Beach in India</b>
                    <br>
                </td>
                <td>Marina Beach, Chennai</td>
            </tr>
            <tr>
                <td><b>Longest Tunnel in World (Railway)</b></td>
                <td>Tanna (Japan)</td>
            </tr>
            <tr>
                <td><b>Longest Tunnel in World (Road)</b></td>
                <td>Mont Blanc Tunnel between France and Italy</td>
            </tr>
            <tr>
                <td><b>Longest Wall (World)</b></td>
                <td>Great wall of China</td>
            </tr>
            <tr>
                <td><b>Largest Zoo (World)</b></td>
                <td>Kruger National Park, South Africa</td>
            </tr>

            <tr>
                <td><b>Highest City in the World</b></td>
                <td>Van Chuan (China)</td>
            </tr>
            <tr>
                <td><b>Tallest Statue</b></td>
                <td>Statue of Motherland, Volgagrad (Russia)</td>
            </tr>
            <tr>
                <td><b>Highest Volcano in the World</b></td>
                <td>Ojos del Salado (Andes, Ecuador)</td>
            </tr>
            <tr>
                <td><b>Highest Waterfall in the World</b></td>
                <td>Angel (Venezuela)</td>
            </tr>
            <tr>
                <td><b>Highest Lake in the World</b></td>
                <td>Titicaca (Bolivia)</td>
            </tr>
            <tr>
                <td><b>Highest Dam (World)</b></td>
                <td>Hoover Dam (U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Highest Capital in the World</b></td>
                <td>La Paz (Boliva)</td>
            </tr>
            <tr>
                <td><b>Highest Tower (India)</b></td>
                <td>Pitampura Tower, Delhi</td>
            </tr>
            <tr>
                <td><b>Highest Waterfall in India</b></td>
                <td>Gersoppa waterfall (Karnataka)</td>
            </tr>
            <tr>
                <td><b>Highest mountain peak in India</b></td>
                <td>Godwin Austin (K2)</td>
            </tr>
            <tr>
                <td><b>Highest Dam in India</b></td>
                <td>Tehri Dam on Bhagirathi River</td>
            </tr>
            <tr>
                <td><b>Highest Gateway in India</b></td>
                <td>Buland Darwaza, Fatehpur Sikri (Agra)</td>
            </tr>
            <tr>
                <td><b>Highest straight gravity Dam</b></td>
                <td>Bhakra Dam</td>
            </tr>
            <tr>
                <td><b>Highest Lake in India</b></td>
                <td>Devatal (Garhwal)</td>
            </tr>
            <tr>
                <td><b>Highest Award in India</b></td>
                <td>Bharat Ratna</td>
            </tr>
            <tr>
                <td><b>Highest Gallantry Award in India</b></td>
                <td>Paramveer Chakra</td>
            </tr>
            <tr>
                <td><b>Highest Battle field in India</b></td>
                <td>Siachin Glacier</td>
            </tr>
            <tr>
                <td><b>Highest &nbsp; Airport in India</b></td>
                <td>Leh (Laddakh)</td>
            </tr>
            <tr>
                <td><b>Tallest Animal in the World</b></td>
                <td>Giraffe</td>
            </tr>
            <tr>
                <td><b>Fastest Bird in the World</b></td>
                <td>Swift</td>
            </tr>
            <tr>
                <td><b>Smallest Bird in the World</b></td>
                <td>Humming Bird</td>
            </tr>
            <tr>
                <td><b>Tallest Building in the World </b></td>
                <td>Burj, Dubai (UAE)</td>
            </tr>
            <tr>
                <td><b>Biggest City(Area) in the World</b></td>
                <td>Mount Isa Australia</td>
            </tr>
            <tr>
                <td><b>Costliest City in the World</b></td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td><b>Smallest Continent</b></td>
                <td>Australia</td>
            </tr>
            <tr>
                <td><b>Biggest Country(Area) in the World</b></td>
                <td>Russia</td>
            </tr>
            <tr>
                <td><b>Deepest Lake in the World</b></td>
                <td>Baikal (Siberia)</td>
            </tr>
            <tr>
                <td><b>Highest Mountain Peak in the World</b></td>
                <td>Mount Everest (Nepal)</td>
            </tr>
            <tr>
                <td><b>Longest Mountain Range in the World</b></td>
                <td>Andes (S. America)</td>
            </tr>
            <tr>
                <td><b>Biggest Palace in the World</b></td>
                <td>Vatican (Italy)</td>
            </tr>
            <tr>
                <td><b>Coldest Place(Habitated) in the World</b></td>
                <td>Verkhoyank (Siberia)</td>
            </tr>
            <tr>
                <td><b>Driest Place in the World</b></td>
                <td>Iqique (In Atacama Desert, Chile)</td>
            </tr>
            <tr>
                <td><b>Hottest Place in the World</b></td>
                <td>Azizia (Libya, Africa)</td>
            </tr>
            <tr>
                <td><b>Biggest Planet</b></td>
                <td>Jupiter</td>
            </tr>
            <tr>
                <td><b>Brightest Planet</b></td>
                <td>Venus</td>
            </tr>
            <tr>
                <td><b>Highest Plateau in the World</b></td>
                <td>Pamir (Tibet)</td>
            </tr>
            <tr>
                <td><b>Smallest Planet</b></td>
                <td>Mercury</td>
            </tr>
            <tr>
                <td><b>Rainiest Place in the World</b></td>
                <td>Mausinram (Meghalaya, India)</td>
            </tr>
            <tr>
                <td><b>Brightest Star</b></td>
                <td>Sirius</td>
            </tr>
            <tr>
                <td><b>World’s first Tramway</b></td>
                <td>New York</td>
            </tr>
            <tr>
                <td><b>Most Active Volcano in the World</b></td>
                <td>Maunaloa (Hawail-U.S.A.)</td>
            </tr>
            <tr>
                <td><b>Lowest body Water in the World</b></td>
                <td>Dead Sea</td>
            </tr>
            <tr>
                <td><b>Densest populated State in India</b></td>
                <td>West Bengal</td>
            </tr>
            <tr>
                <td><b>Biggest Hotel in India</b></td>
                <td>Oberal - Sharaton (Mumbai)</td>
            </tr>
            <tr>
                <td><b>Smallest State (Area) in India</b></td>
                <td>Goa</td>
            </tr>
            <tr>
                <td><b>Smallest State (Population) in India</b></td>
                <td>Sikkim</td>
            </tr>
            <tr>
                <td><b>Deepest river valley in India</b></td>
                <td>Bhagirathi &amp; Alaknanda</td>
            </tr>
        </table>
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="generalKnowledge2" class= "caretright" ></span><span ng-show="generalKnowledge2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="generalKnowledge2" class="view">
        <table>
            <tr>
                <td>Highest Award </td>
                <td>Bharat Ratna </td>
            </tr>
            <tr>
                <td>Highest Gallantry Award </td>
                <td>Param Vir Chakra </td>
            </tr>
            <tr>
                <td>Longest River in India </td>
                <td>The Ganges </td>
            </tr>
            <tr>
                <td>Longest Tributary river of India </td>
                <td>Yamuna </td>
            </tr>
            
            <tr>
                <td>Highest Lake </td>
                <td>Devtal Lake, Gadhwal (Uttarakhand) </td>
            </tr>
            <tr>
                <td>Highest Lake </td>
                <td>Devatal (Gharhwal) </td>
            </tr>
            <tr>
                <td>Highest Peak </td>
                <td>Karkoram-2 of K-2(8,611 meters)
                    <br>Highest Peak in the world is Mount Everest which is in Nepal
                </td>
            </tr>
            <tr>
                <td>Largest Populated City </td>
                <td>Mumbai </td>
            </tr>
            <tr>
                <td>Largest State(Area) </td>
                <td>Rajasthan </td>
            </tr>
            
            <tr>
                <td>Highest rainfall </td>
                <td>Cherrapunhi (426 inches per annum) </td>
            </tr>
            <tr>
                <td>Highest Watefall </td>
                <td>Nohkalikai Falls (335 meters, 1100 ft high) in Shora </td>
            </tr>
            <tr>
                <td>State wise largest area under forest  </td>
                <td>Madhya Pradesh </td>
            </tr>
            <tr>
                <td>Largest Delta  </td>
                <td>Sunderbans Delta </td>
            </tr>
            
            <tr>
                <td>Longest Cantilever Span bridge  </td>
                <td>Howrah Bridge </td>
            </tr>
            <tr>
                <td>Longest River Bridge   </td>
                <td>Mahatma Gandhi Setu, Patna </td>
            </tr>
            <tr>
                <td>Biggest Cave temple </td>
                <td>Ellora </td>
            </tr>
            <tr>
                <td>Longest Road </td>
                <td>  Grand Trunk Road</td>
            </tr>
            <tr>
                <td>Highest Road </td>
                <td>Road at Khardungla,(in Leh-Manali Sector)</td>
            </tr>
            <tr>
                <td>Biggest Mosque  </td>
                <td>Jama Masjid at Delhi </td>
            </tr>

            <tr>
                <td>Highest Gateway </td>
                <td>Buland Darwaza at Fatehpur Sikri (53.6 meters high) </td>
            </tr>

            <tr>
                <td>Tallest Statue  </td>
                <td>Statue of Gomateshwar (17 meters high In Karnataka </td>
            </tr>

            
            <tr>
                <td>Longest Canal  </td>
                <td>Indira Gandhi Canal or Rajasthan Canal (Rajasthan) </td>
            </tr>
            <tr>
                <td>Largest Dome </td>
                <td>Gol Gumbaz at Bijapur </td>
            </tr>
            <tr>
                <td>Largest Zoo  </td>
                <td>Zoological Garden at Alipur (Kolkata) </td>
            </tr>
            <tr>
                <td>Largest Museum  </td>
                <td> India Museum at Kolkata</td>
            </tr>
            <tr>
                <td>Longest Dam  </td>
                <td>Hirakud Dam (Orrisa) </td>
            </tr>
            <tr>
                <td>Highest Dam  </td>
                <td>Tehri Dam ( 260 meters , 850 ft ) </td>
            </tr>
            <tr>
                <td>Highest Tower  </td>
                <td>Kutab Minar at Delhi (88.4 meters high) </td>
            </tr>
            <tr>
                <td>Largest Desert </td>
                <td>Thar (Rajasthan) </td>
            </tr>
            
            <tr>
                <td>Fastest Train </td>
                <td>Shatabadi Express running between 
                    New Delhi and Bhopal </td>
            </tr>
            <tr>
                <td>State with longest coastline  </td>
                <td>Gujarat </td>
            </tr>
            <tr>
                <td>State with longest coastline of South India </td>
                <td>Andhra Pradesh </td>
            </tr>
            <tr>
                <td>Longest Electric Railway Line  </td>
                <td>From Delhi to Kolkata via Patna </td>
            </tr>
            <tr>
                <td>Longest Railway Route </td>
                <td> From Assam to Kanyakumari </td>
            </tr>
            <tr>
                <td>Longest Railway Platform </td>
                <td> Kharagpur (W. Bengal) </td>
            </tr>
            <tr>
                <td>Highest Railway Station </td>
                <td> Ghum (W. Bengal) </td>
            </tr>
            <tr>
                <td>Longest Platform  </td>
                <td>Kharagpur (West Bengal) 833 meters in Length.
                    It is also the longest railway station in world </td>
            </tr>
            <tr>
                <td>Longest Tunnel  </td>
                <td>Jawahar tunnel (Jammu  &amp; Kashmir) </td>
            </tr>
            <tr>
                <td>Longest Highway  </td>
                <td>NH-44 (NH-7) which turns from Varanasi to Kanyakumari </td>
            </tr>
            <tr>
                <td>Smallest State (Population) </td>
                <td>Sikkim </td>
            </tr>
            <tr>
                <td>Smallest State (Area) </td>
                <td> Goa</td>
            </tr>
            <tr>
                <td>Largest State (Area) </td>
                <td> Rajasthan</td>
            </tr>
            <tr>
                <td>Largest State (Population) </td>
                <td>Uttar Pradesh </td>
            </tr>
            <tr>
                <td>Densest Populated State </td>
                <td>West Bengal </td>
            </tr>
            
            <tr>
                <td>Largest Cave Temple </td>
                <td> Kailash Temple, Ellora (Maharastra)</td>
            </tr>
            <tr>
                <td>Largest Animal Fair </td>
                <td>Sonepur (Bihar) </td>
            </tr>
            <tr>
                <td>Largest Auditorium </td>
                <td>Sri Shanmukhanand Hall (Mumbai) </td>
            </tr>
            <tr>
                <td>Biggest Hotel </td>
                <td>Oberai-Sheraton (Mumbai) </td>
            </tr>
            <tr>
                <td>Largest Port </td>
                <td>Mumbai </td>
            </tr>
            <tr>
                <td> Largest Gurudwara</td>
                <td>Golden Temple, Amritsar </td>
            </tr>
            <tr>
                <td>Deepest River Valley </td>
                <td>Bhagirathi &amp; Alaknanda </td>
            </tr>
            <tr>
                <td>Largest Church </td>
                <td>Saint Cathedral (Goa) </td>
            </tr>
            <tr>
                <td>Oldest Church </td>
                <td>St. Thomas Church at Palayar, Trichur (Kerala) </td>
            </tr>
            <tr>
                <td>Longest River </td>
                <td>Ganga (2640 km long) </td>
            </tr>
            <tr>
                <td>Longest Beach </td>
                <td>Marina Beach, Chennai </td>
            </tr>
            <tr>
                <td>Highest Battle Field </td>
                <td>Siachin Glacier </td>
            </tr>
            <tr>
                <td>Highest Airport </td>
                <td>Leh (Laddakh) </td>
            </tr>
            <tr>
                <td>Biggest Stadium </td>
                <td>Yuva Bharti (Salt Lake) Stadium, Kolkata</td>
            </tr>
            <tr>
                <td>Largest River Island </td>
                <td>Majuli (Brahmaputra River, Asom) </td>
            </tr>
            <tr>
                <td>Largest Planetarium</td>
                <td>Birla Planetarium (Kolkata)</td>
            </tr>
            <tr>
                <td>Sambhar lake</td>
                <td>Largest inland salt lake</td>
            </tr>
        </table>
    </div>-->


</div>
