<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign">Nicknames</h2>



       

    <div class="styleShet" ng-click="toggle()">
        <h4>
            Nicknames of Famous Persons
            <span ng-hide ="nicknames" class= "caretright" ></span><span ng-show="nicknames" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames" class="view">
        <table class="table table-bordered">
            <tr class="trHeading">
                <td>Father of the Nation (Bapu)</td>
                <td>Mahatma Gandhi</td>
            </tr>
            <tr>
                <td>Frontier Gandhi, Badshah Khan</td>
                <td>Khan Abdul Ghaffar Khan</td>
            </tr>
            <tr>
                <td>Strong (Iron) Man</td>
                <td>Sardar Vallabhbhai Patel </td>
            </tr>
            <tr>
                <td>Sher-e-Kashmir</td>
                <td> Sheikh Abdullah </td>
            </tr>
            <tr>
                <td>Nepoleon of India</td>
                <td>Samudrn Gupta</td>
            </tr>
            <tr>
                <td>Shakespeare of India</td>
                <td>Mahakavi Kalidas</td>
            </tr>
            <tr>
                <td>Akbar of Kashmir</td>
                <td>Jainul Abdin</td>
            </tr>
            <tr>
                <td>Grandfather of Indian Films</td>
                <td>Dhundiraj Govind Phalke</td>
            </tr>
            <tr>
                <td>Grand Old Man of India</td>
                <td>Dadabhai Naoroji</td>
            </tr>
            <tr>
                <td>Mahamana</td>
                <td>Pt. Madan Mohan Malaviya </td>
            </tr>
            <tr>
                <td>Andhra Kcsari</td>
                <td>T. Prakasam</td>
            </tr>
            <tr>
                <td>Sahid-e-Asam</td>
                <td>Bhagat Singh</td>
            </tr>
            <tr>
                <td>Deshbandhu</td>
                <td>Chitta Ranjan Das </td>
            </tr>
            <tr>
                <td>Lokmanya</td>
                <td>Bal Gangadhar Tilak </td>
            </tr>
            <tr>
                <td>Vishwa Kavi</td>
                <td>Rabindranath</td>
            </tr>
            <tr>
                <td>Kaviguru, Gurudev</td>
                <td>Tagor</td>
            </tr>
            <tr>
                <td>Bihar Kesari</td>
                <td>Dr. Srikrishna Singh</td>
            </tr>
            <tr>
                <td>Bangal Kesari</td>
                <td>Ashutosh Mukherji </td>
            </tr>
            <tr>
                <td>Punjab Kesari</td>
                <td>Lala Lajpar Rai </td>
            </tr>
            <tr>
                <td>Desh Ratna</td>
                <td>Dr. Rajendra Prasad </td>
            </tr>
            <tr>
                <td>Father of Gujarat</td>
                <td>Ravi Sankar Maharaj</td>
            </tr>
            <tr>
                <td>King Maker</td>
                <td>Earl of Warwick</td>
            </tr>
            <tr>
                <td>Nightingle of India</td>
                <td> Sarojini Naidu</td>
            </tr>
            <tr>
                <td>Lady with the lamp</td>
                <td>Florence Nightingle </td>
            </tr>
            <tr>
                <td>Lal, Bal, Pal</td>
                <td>Lala Lajpat Rai, Bal Gangadher Tilak &amp; Bipin Chandra Pal </td>
            </tr>
            <tr>
                <td>Morning Star of India History</td>
                <td>Raja Ram Mohan Roy</td>
            </tr>
            <tr>
                <td>Magician of Hocky</td>
                <td>Dhyanchand</td>
            </tr>
            <tr>
                <td>Tota-e-Hind</td>
                <td>Amir Khushro</td>
            </tr>
            <tr>
                <td>Chacha</td>
                <td>Jawahar Lal Nehru </td>
            </tr>
            <tr>
                <td>Swar Kokila</td>
                <td>Lata Mangeshkar</td>
            </tr>
        </table> 
    </div>

<!--
    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="nicknames1" class= "caretright" ></span><span ng-show="nicknames1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames1" class="view">
        { defination }
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="nicknames2" class= "caretright" ></span><span ng-show="nicknames2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames2" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="nicknames3" class= "caretright" ></span><span ng-show="nicknames3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames3" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="nicknames4" class= "caretright" ></span><span ng-show="nicknames4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames4" class="view">
        {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="nicknames5" class= "caretright" ></span><span ng-show="nicknames5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames5" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="nicknames6" class= "caretright" ></span><span ng-show="nicknames6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames6" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="nicknames7" class= "caretright" ></span><span ng-show="nicknames7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames7" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="nicknames8" class= "caretright" ></span><span ng-show="nicknames8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames8" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="nicknames9" class= "caretright" ></span><span ng-show="nicknames9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames9" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="nicknames10" class= "caretright" ></span><span ng-show="nicknames10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames10" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="nicknames11" class= "caretright" ></span><span ng-show="nicknames11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="nicknames11" class="view">
        {keep defination }
    </div>-->

</div>
