<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign">India Cities Wise River </h2>






    <div class="styleShet" ng-click="toggle()">
        <h4>
            India River State & City
            <span ng-hide ="river" class= "caretright" ></span><span ng-show="river" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river" class="view">
        <table class="table table-bordered">
            <tr class="trHeading">
                <td>River</td>
                <td>State</td>
                <td>City</td>
            </tr>
            <tr>
                <td rowspan="4">Ganges</td>
                <td>Uttar Pradesh </td>
                <td>Chandauli, Jajmau, Nawabganj, Bithoor, Farrukhabad, Fatehgarh, Kannauj, Kanpur, Shuklaganj,Chakeri, Varanasi,Allahabad</td>
            </tr>

            <tr>
                <td>Bihar</td>
                <td>Patna</td>

            </tr>
            <tr>
                <td>Uttarkhand</td>
                <td>Haridwar</td>
            </tr>
            <tr>
                <td>West Bengal</td>
                <td>Kolkata (Hooghly)</td>

            </tr>

            <tr>
                <td rowspan="2">Yamuna</td>
                <td>Uttar Pradesh</td>
                <td>Agra, Mathura, Auraiya, Etawah</td>
            </tr>
            <tr>
                <td>Delhi</td>
                <td>New Delhi</td>
            </tr>

            <tr>
                <td rowspan="2">Narmada</td>
                <td>Madhya Pradesh</td>
                <td>Jabalpur</td>
            </tr>
            <tr>

                <td>Gujarat</td>
                <td>Bharuch</td>
            </tr>

            <tr>
                <td rowspan="3">Krishna</td>
                <td>Andhra Pradesh</td>
                <td>Vijayawada</td>
            </tr>
            <tr>
                <td>Maharashtra</td>
                <td>Sangli,Karad</td>
            </tr>

            <tr>
                <td>Maharashtra</td>
                <td>Karad</td>
            </tr>
            <tr>
                <td rowspan="3">Godavari</td>
                <td>Maharashtra</td>
                <td>Nashik</td>
            </tr>
            <tr>

                <td>Andhra Pradesh</td>
                <td>Rajahmundry</td>
            </tr>
            <tr>
                <td>Maharashtra</td>
                <td>Nanded</td>
            </tr>

            <tr>
                <td rowspan="2">Chambal</td>
                <td>Madhya Pradesh</td>
                <td>Gwalior</td>
            </tr>
            <tr>
                <td>Rajasthan</td>
                <td>Kota</td>
            </tr>
            <tr>
                <td>Brahmaputra</td>
                <td>Assam</td>
                <td>Guwahati</td>
            </tr>
            <tr>
                <td>Tapti</td>
                <td>Gujrat</td>
                <td>Surat</td>
            </tr>

            <tr>
                <td>Sharavathi</td>
                <td>Karnataka</td>
                <td>Honnavar</td>
            </tr>
            <tr>
                <td>Gomti</td>
                <td>Uttar Pradesh</td>
                <td>Lucknow</td>
            </tr>
            <tr>
                <td>Moosi</td>
                <td>Andhra Pradesh</td>
                <td>Hyderabad</td>
            </tr>

            <tr>
                <td>Pandu</td>
                <td>Uttar Pradesh</td>
                <td>Naubasta</td>
            </tr>

            <tr>
                <td>Kshipra</td>
                <td>Madhya Pradesh</td>
                <td>Ujjain</td>
            </tr>
            <tr>
                <td>Panchganga</td>
                <td>Maharashtra</td>
                <td>Kolhapur</td>
            </tr>
            <tr>
                <td>Aji</td>
                <td>Gujarat</td>
                <td>Rajkot</td>
            </tr>
            <tr>
                <td>Vishwamitri</td>
                <td>Gujarat</td>
                <td>Vadodara</td>
            </tr>

            <tr>
                <td>Koyna</td>
                <td>Maharashtra</td>
                <td>Karad</td>
            </tr>

            <tr>
                <td>Vrishabhavathi</td>
                <td>Karnataka</td>
                <td>Bangalore</td>
            </tr>

            <tr>
                <td>Netravati, Gurupura</td>
                <td>Karnataka</td>
                <td>Mangalore</td>
            </tr>
            <tr>
                <td>Tunga River</td>
                <td>Karnataka</td>
                <td>Shimoga</td>
            </tr>
            <tr>
                <td>Bhadra</td>
                <td>Karnataka</td>
                <td>Bhadravathi</td>
            </tr>
            <tr>
                <td>Tungabhadra</td>
                <td>Karnataka</td>
                <td>Hospet</td>
            </tr>
            <tr>
                <td>Kali</td>
                <td>Karnataka</td>
                <td>Karwar</td>
            </tr>
            <tr>
                <td>Ghataprabha</td>
                <td>Karnataka</td>
                <td>Bagalkot</td>
            </tr>

            <tr>
                <td>Rapti</td>
                <td>Uttar Pradesh</td>
                <td>Gorakhpur</td>
            </tr>


            <tr>
                <td>Sabarmati</td>
                <td>Gujarat</td>
                <td>Ahmedabad</td>
            </tr>

            <tr>
                <td>Girna River</td>
                <td>Maharashtra</td>
                <td>Malegaon</td>
            </tr>

            <tr>
                <td>Mahanadi</td>
                <td>Orissa</td>
                <td>Cuttack, Sambalpur</td>
            </tr>

            <tr>
                <td>Brahmani</td>
                <td>Orissa</td>
                <td>Rourkela</td>
            </tr>

            <tr>
                <td>Mula, Mutha</td>
                <td>Maharashtra</td>
                <td>Pune</td>
            </tr>
            <tr>

                <td>Vaigai</td>
                <td>Tamil Nadu</td>
                <td>Madurai</td>
            </tr>
            <tr>
                <td>Kaveri</td>
                <td>Tamil Nadu</td>
                <td>Thiruchirapalli, Erode</td>
            </tr>

            <tr>
                <td>Cooum, Adyar</td>
                <td>Tamil Nadu</td>
                <td>Chennai</td>
            </tr>
            <tr>
                <td>Noyyal</td>
                <td>Tamil Nadu</td>
                <td>Coimbatore</td>
            </tr>

            <tr>
                <td>Thamirabarani</td>
                <td>Tamil Nadu</td>
                <td>Tirunelveli</td>
            </tr>


            <tr>
                <td>Ulhas</td>
                <td>Maharashtra</td>
                <td>Karjat</td>
            </tr>


            <tr>
                <td>Savitri</td>
                <td>Maharashtra</td>
                <td>Mahad</td>
            </tr>

            <tr>
                <td>Pennar</td>
                <td>Andhra Pradesh</td>
                <td>Nellore</td>
            </tr>

            <tr>
                <td>Damodar </td>
                <td>West Bengal</td>
                <td></td>
            </tr>
            <tr>
                <td>Mahananda</td>
                <td>West Bengal</td>
                <td></td>
            </tr>
            <tr>
                <td>Rani Chu</td>
                <td>Sikkim</td>
                <td></td>
            </tr>
            <tr>
                <td>Pamba</td>
                <td>Kerala</td>
                <td></td>
            </tr>
        </table> 
    </div>


    <div class="styleShet" ng-click="toggle1()">
        <h4>
            World River Country City 
            <span ng-hide ="river1" class= "caretright" ></span><span ng-show="river1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river1" class="view">
        <table class="table table-bordered">
            <tr class="trHeading">
                <th><b>City</b></th>
                <th><b>Country</b></th>
                <th><b>River</b></th>
            </tr>
            <tr>
                <td>Alexandria</td>
                <td>Egypt</td>
                <td>Nile</td>
            </tr>
            <tr>
                <td>Amsterdam</td>
                <td>Netherlands</td>
                <td>Amstel</td>
            </tr>
            <tr>
                <td>Baghdad</td>
                <td>Iraq</td>
                <td>Tigris</td>
            </tr>
            <tr>
                <td>Bangkok</td>
                <td>Thailand</td>
                <td>Chao Phraya</td>
            </tr>
            <tr>
                <td>Belgrade</td>
                <td>Yugoslavia</td>
                <td>Danube, Sava</td>
            </tr>
            <tr>
                <td>Berlin</td>
                <td>Germany</td>
                <td>Spree, Havel</td>
            </tr>
            <tr>
                <td>Bogotá</td>
                <td>Colombia</td>
                <td>Bogotá</td>
            </tr>
            <tr>
                <td>Brussels</td>
                <td>Belgium</td>
                <td>Senne</td>
            </tr>
            <tr>
                <td>Budapest</td>
                <td>Hungary</td>
                <td>Danube</td>
            </tr>
            <tr>
                <td>Buenos Aires</td>
                <td>Argentina</td>
                <td>Río de la Plata</td>
            </tr>
            <tr>
                <td>Cairo</td>
                <td>Egypt</td>
                <td>Nile</td>
            </tr>
            <tr>
                <td>Calcutta</td>
                <td>India</td>
                <td>Hugli</td>
            </tr>
            <tr>
                <td>Damascus</td>
                <td>Syria</td>
                <td>Barada</td>
            </tr>
            <tr>
                <td>Delhi</td>
                <td>India</td>
                <td>Yamuna</td>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>Ireland</td>
                <td>LIffey</td>
            </tr>
            <tr>
                <td>Ho Chi Minh City</td>
                <td>Vietnam</td>
                <td>Saigon</td>
            </tr>
            <tr>
                <td>Hong Kong</td>
                <td>China</td>
                <td>Pearl</td>
            </tr>
            <tr>
                <td>Jakarta</td>
                <td>Indonesia</td>
                <td>Liwung</td>
            </tr>
            <tr>
                <td>Kiev</td>
                <td>Ukraine</td>
                <td>Dnieper</td>
            </tr>
            <tr>
                <td>Lisbon</td>
                <td>Portugal</td>
                <td>Tagus</td>
            </tr>
            <tr>
                <td>Lima</td>
                <td>Peru</td>
                <td>Rímac</td>
            </tr>
            <tr>
                <td>London</td>
                <td>England</td>
                <td>Thames</td>
            </tr>
            <tr>
                <td>Madrid</td>
                <td>Spain</td>
                <td>Manzanares</td>
            </tr>
            <tr>
                <td>Melbourne</td>
                <td>Australia</td>
                <td>Yarra</td>
            </tr>
            <tr>
                <td>Montreal</td>
                <td>Canada</td>
                <td>St. Lawrence</td>
            </tr>
            <tr>
                <td>Moscow</td>
                <td>Russia</td>
                <td>Moskva</td>
            </tr>
            <tr>
                <td>Paris</td>
                <td>France</td>
                <td>Seine</td>
            </tr>
            <tr>
                <td>Prague</td>
                <td>Czech Republic</td>
                <td>Moldau</td>
            </tr>
            <tr>
                <td>Rome</td>
                <td>Italy</td>
                <td>Tiber</td>
            </tr>
            <tr>
                <td>Saint Petersburg</td>
                <td>Russia</td>
                <td>Neva</td>
            </tr>
            <tr>
                <td>Santiago</td>
                <td>Chile</td>
                <td>Mapocho</td>
            </tr>
            <tr>
                <td>São Paulo</td>
                <td>Brazil</td>
                <td>Tietê</td>
            </tr>
            <tr>
                <td>Seoul</td>
                <td>South Korea</td>
                <td>Han</td>
            </tr>
            <tr>
                <td>Shanghai</td>
                <td>China</td>
                <td>Huangpu</td>
            </tr>
            <tr>
                <td>Tokyo</td>
                <td>Japan</td>
                <td>Sumida</td>
            </tr>
            <tr>
                <td>Vienna</td>
                <td>Austria</td>
                <td>Danube</td>
            </tr>
            <tr>
                <td>Warsaw</td>
                <td>Poland</td>
                <td>Vistula</td>
            </tr>
            <tr>
                <td>Zagreb</td>
                <td>Croatia</td>
                <td>Sava</td>
            </tr>
            <tr>
                <td>Zürich</td>
                <td>Switzerland</td>
                <td>Limmat, Sihl</td>
            </tr>
        </table>
    </div>

<!--
    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="river2" class= "caretright" ></span><span ng-show="river2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river2" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="river3" class= "caretright" ></span><span ng-show="river3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river3" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="river4" class= "caretright" ></span><span ng-show="river4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river4" class="view">
        {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="river5" class= "caretright" ></span><span ng-show="river5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river5" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="river6" class= "caretright" ></span><span ng-show="river6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river6" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="river7" class= "caretright" ></span><span ng-show="river7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river7" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="river8" class= "caretright" ></span><span ng-show="river8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river8" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="river9" class= "caretright" ></span><span ng-show="river9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river9" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="river10" class= "caretright" ></span><span ng-show="river10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river10" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="river11" class= "caretright" ></span><span ng-show="river11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="river11" class="view">
        {keep defination }
    </div>-->

</div>
