<div  class="pagePaddingBottom">
    <h2 class="mainCenterAlign">Temple & Location</h2>




    <div class="styleShet" ng-click="toggle()">
        <h4>
            Temple Places
            <span ng-hide ="temple" class= "caretright" ></span><span ng-show="temple" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple" class="view">

        <table class="table table-bordered">
            <tr class="trHeading">
                <th><b>Temple</b></th>
                <th><b>Place</b></th>
            </tr>
            <tr>
                <td>Vaishno Devi Katra,</td>
                <td>Jammu &amp; Kashmir</td>
            </tr>
            <tr>
                <td>Golden Temple</td>
                <td>Amritsar, Punjab&nbsp;</td>
            </tr>
            <tr>
                <td>Tirupati Balaji (Tirumala Venkateswara Temple)</td>
                <td>Chittor, Andhra Pradesh</td>
            </tr>
            <tr>
                <td>Lotus Temple</td>
                <td>New Delhi</td>
            </tr>
            <tr>
                <td>Rameshwaram (Ramanathaswamy Temple)</td>
                <td>Rameswaram, Ramanathapuram, Tamil Nadu. </td>
            </tr>
            <tr>
                <td>Kedarnath Temple</td>
                <td>Kedarnath, Uttarakhand</td>
            </tr>
            <tr>
                <td>Siddhivinayak</td>
                <td>Mumbai, Maharashtra</td>
            </tr>
            <tr>
                <td>Somnath Temple</td>
                <td>Gujarat</td>
            </tr>
            <tr>
                <td>Padmanabhaswamy Temple</td>
                <td>Thiruvananthapuram, Kerala</td>
            </tr>
            <tr>
                <td>Badrinath Temple &nbsp;</td>
                <td>Uttarakhand</td>
            </tr>
            <tr>
                <td>Amarnath Temple</td>
                <td>Jammu and Kashmir</td>
            </tr>
            <tr>
                <td>Meenakshi Temple</td>
                <td>Madurai, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Mahakaleshwar Temple</td>
                <td>Ujjain, Madhya Pradesh</td>
            </tr>
            <tr>
                <td>Kamakhya Temple</td>
                <td>Guwahati, Assam</td>
            </tr>
            <tr>
                <td>Bhimashankar Temple</td>
                <td> Pune, Maharashtra.</td>
            </tr>
            <tr>
                <td>Kashi Vishwanath Temple</td>
                <td>Varanasi, Uttar Pradesh</td>
            </tr>
            <tr>
                <td>Triambakeshwar Temple</td>
                <td>Nashik, Maharashtra</td>
            </tr>
            <tr>
                <td>Jagannath Temple</td>
                <td>Puri, Odisha</td>
            </tr>
            <tr>
                <td>Iskcon Temple</td>
                <td>Bengaluru, Karnataka</td>
            </tr>
            <tr>
                <td>Shani Shingnapur Nevasa</td>
                <td>Ahmednagar, Maharashtra</td>
            </tr>
            <tr>
                <td>Belur Math</td>
                <td>Belur, Howrah, West Bengal</td>
            </tr>
            <tr>
                <td>Khajuraho Temples</td>
                <td>Chhatarpur, Madhya Pradesh</td>
            </tr>
            <tr>
                <td>Omkareshwar Mandhata,</td>
                <td>Madhya Pradesh</td>
            </tr>
            <tr>
                <td>Shirdi Sai Baba Shirdi,</td>
                <td>Maharashtra</td>
            </tr>
            <tr>
                <td>Konark Sun Temple</td>
                <td>Konark, Odisha</td>
            </tr>
            <tr>
                <td>Sanchi Stupa Sanchi</td>
                <td>Raisen, Madhya Pradesh</td>
            </tr>
            <tr>
                <td>Swaminarayan Temple</td>
                <td>Bhuleswar, Mumbai, Maharashtra</td>
            </tr>
            <tr>
                <td>Sharavanbelagola</td>
                <td>Hassan, Karnataka</td>
            </tr>
            <tr>
                <td>Mookambika Temple</td>
                <td>Udupi, Kollur, Karnataka</td>
            </tr>
            <tr>
                <td>Lingaraj Temple</td>
                <td>Bhubaneshwar, Odisha</td>
            </tr>
            <tr>
                <td>Birla Mandir</td>
                <td>Karol Bagh, New Delhi</td>
            </tr>
            <tr>
                <td>Iskcon Temple,</td>
                <td>Delhi</td>
            </tr>
            <tr>
                <td>Hare Krishna Hills</td>
                <td> East of Kailash, New Delhi</td>
            </tr>
            <tr>
                <td>Kumbakonam Temples</td>
                <td>Kumbakonam, Thanjavur, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Virupaksha Temple</td>
                <td>Hampi, Karnataka</td>
            </tr>
            <tr>
                <td>Kanchi Kailasanathar Temple</td>
                <td>Kanchipuram, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Brihadeshwara Temple</td>
                <td>Thanjavur, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Dwarkadhish Temple</td>
                <td>Gujarat Dwarka, Gujarat</td>
            </tr>
            <tr>
                <td>Thiruchendur Murugan Temple</td>
                <td>Thiruchendur, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Akshardham Temple</td>
                <td>New Delhi</td>
            </tr>
            <tr>
                <td>Mahalaxmi Temple</td>
                <td>Kolhapur, Maharashtra</td>
            </tr>
            <tr>
                <td>Mallikarjuna Temple</td>
                <td>Srisailam, Andhra Pradesh</td>
            </tr>
            <tr>
                <td>Dwarkadhish Temple</td>
                <td>Mathura Mathura, Uttar Pradesh</td>
            </tr>
            <tr>
                <td>Palani Murugan Temple</td>
                <td>Palani, Dindigul, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Iskcon Temple</td>
                <td>Pune Pune, Maharashtra</td>
            </tr>
            <tr>
                <td>Ekambareswarar Temple</td>
                <td>Kanchipuram, Tamil Nadu</td>
            </tr>
            <tr>
                <td>Baidyanath Temple</td>
                <td>Deoghar, Jharkhand</td>
            </tr>
            <tr>
                <td>Sharda Temple</td>
                <td>Maihar, Satna, Madhya</td>
            </tr>
            <tr>
                <td>Pradesh Ranakpur Temple</td>
                <td>Rankpur, Rajasthan</td>
            </tr>
        </table>
    </div>


<!--    <div class="styleShet" ng-click="toggle1()">
        <h4>
            { heading }
            <span ng-hide ="temple1" class= "caretright" ></span><span ng-show="temple1" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple1" class="view">
        { defination }
    </div>


    <div class="styleShet" ng-click="toggle2()">
        <h4>
            {heading Name}
            <span ng-hide ="temple2" class= "caretright" ></span><span ng-show="temple2" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple2" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle3()">
        <h4>{heading Name}
            <span ng-hide ="temple3" class= "caretright" ></span><span ng-show="temple3" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple3" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle4()">
        <h4>{heading Name}
            <span ng-hide ="temple4" class= "caretright" ></span><span ng-show="temple4" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple4" class="view">
        {keep defination }
    </div>



    <div class="styleShet" ng-click="toggle5()">
        <h4>{heading Name}
            <span ng-hide ="temple5" class= "caretright" ></span><span ng-show="temple5" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple5" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle6()">
        <h4>{heading Name}
            <span ng-hide ="temple6" class= "caretright" ></span><span ng-show="temple6" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple6" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle7()">
        <h4>{heading Name}
            <span ng-hide ="temple7" class= "caretright" ></span><span ng-show="temple7" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple7" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle8()">
        <h4>{heading Name}
            <span ng-hide ="temple8" class= "caretright" ></span><span ng-show="temple8" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple8" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle9()">
        <h4>{heading Name}
            <span ng-hide ="temple9" class= "caretright" ></span><span ng-show="temple9" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple9" class="view">
        {keep defination }
    </div>


    <div class="styleShet" ng-click="toggle10()">
        <h4>{heading Name}
            <span ng-hide ="temple10" class= "caretright" ></span><span ng-show="temple10" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple10" class="view">
        {keep defination }
    </div>

    <div class="styleShet" ng-click="toggle11()">
        <h4>{heading Name}
            <span ng-hide ="temple11" class= "caretright" ></span><span ng-show="temple11" class= "caretrightUp" ></span>
        </h4>
    </div>
    <div ng-show="temple11" class="view">
        {keep defination }
    </div>-->
    
</div>
